In [ ]:
import dlt
from pyspark.sql.functions import *

catalog = spark.conf.get('catalog')

In [ ]:
@dlt.table(
    name=f'{catalog}.silver.silver_jc_citibike',
    comment='This table contains citibike data with trip duration in minutes'
)
def silver_jc_citibike():
    df = dlt.read(f'{catalog}.bronze.bronze_jc_citibike')
    df = df.select('ride_id', split(col('started_at'),' ')[0].cast('date').alias('trip_start_date'), col('started_at').cast('timestamp'), col('ended_at').cast('timestamp')
                                , 'start_station_name', 'end_station_name', 
                                (((unix_timestamp(col('ended_at').cast('timestamp')) - unix_timestamp(col('started_at').cast('timestamp'))) / 60)).
                                cast("decimal(10,2)").alias('trip_duration_mins'))
    return df